@model PersonViewModel

<form method="post">
    @Html.ValidationSummary()

    <p>
        @Html.LabelFor(m => m.FirstName)
        @Html.TextBoxFor(m => m.FirstName)
    </p>

    <p>
        <label>Achternaam:</label>
        @Html.TextBoxFor(m => m.LastName)
    </p>

    <p>
        @Html.LabelFor(m => m.FavoriteColor)
        @Html.DropDownListFor(m => m.FavoriteColor, Model.Colors)
    </p>

    <p>
        <input type="submit" value="Opslaan">
    </p>
</form>